@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap");
/* *
{
    padding: 0;
    margin: 0;
} */
body {
  margin: 0;
  padding: 0;
  background: url(bgimg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Satisfy", cursive;
}
.header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  background: rgba(245, 186, 220, 0.637);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo {
  color: rgb(139, 12, 108);
  height: 100px;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 60px;
  padding: 0px 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  18%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: rgb(139, 12, 108);
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px rgb(139, 12, 108), 0 0 20px rgb(139, 12, 108),
      0 0 40px rgb(139, 12, 108), 0 0 80px rgb(139, 12, 108),
      0 0 160px rgb(139, 12, 108);
  }
}
.nav_bar {
  background: rgba(243, 206, 237, 0.253);
  text-align: right;
}
.nav_bar ul {
  display: inline-flex;
  list-style: none;
  color: white;
  /* float: right;  */
}
.nav_bar ul li {
  width: 120px;
  margin: 10px;
  padding: 10px;
}
.nav_bar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}
.nav_bar ul li:hover {
  background: rgba(238, 106, 178, 0.301);
  border-radius: 5px;
  transition: 0.5s;
}
.nav_bar .fa {
  margin-right: 20px;
}
.sub_menu1 {
  display: block;
  text-align: center;
}
/* .nav_bar ul li:hover  .sub_menu1
{
display: block;
position: absolute;
background: rgba(243, 163, 230, 0.411);
margin-top: 15px;
margin-left: -15px;
}
.nav_bar ul li:hover  .sub_menu1 ul
{
    display: block;
    margin: 10px;
    
}
.nav_bar ul li:hover  .sub_menu1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted rgb(189, 183, 183);
    background: transparent;
    border-radius: 0;
}
.nav_bar ul li:hover  .sub_menu1 ul li:last-child
{
    border-bottom: none;
}
.nav_bar ul li:hover  .sub_menu1 ul li a:hover
{
    color: rgb(95, 7, 73);
} */
@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #fff;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: rgb(139, 12, 108);
  }
  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontawesome;
    line-height: 40px;
  }
  .menu-toggle.active:before {
    content: "\f00d";
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li a {
    margin: 0px;
  }
}
.img-gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
}
.img-gallery img:hover {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(32, 32, 32, 0.315);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.full-img img {
  width: 90%;
  max-width: 500px;
}
.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  font-family: sans-serif;
  color: #000;
  cursor: pointer;
}
.footer {
  padding: 40px 0;
  background-color: rgb(240, 210, 230);
  font-family: "Segoe UI";
  font-weight: 400;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: rgb(31, 30, 31);
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid rgb(155, 154, 154);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
}
.footer ul li {
  display: inline-block;
  padding: 15px;
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li a:hover {
  opacity: 1;
}
.footer .copywrite {
  margin: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(156, 154, 154);
}
.section
{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(240, 200, 230, 0.384);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container
{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}
.content-section
{
    float: left;
    width: 55%;
}
.image-section
{
    float: none;
    width: 100%;
}
.image-section img
{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
.section .container .content-section .title h1
{   margin-top: 10px;
    text-transform: uppercase;
    font-size: 45px;
    text-decoration: none !important;
}
.content-section .content h3
{
    margin-top: 20px;
    color: rgb(160, 72, 101);
}
.content-section .content p
{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button a
{
    background-color: lightsalmon;
    padding: 12px 40px;
    text-decoration: none;
    color: rgb(173, 79, 145);
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover
{
    background-color: mistyrose;
    color: rgb(139, 12, 108);
}
.content-section .content .button
{
    margin-top: 30px;
}
.content-section .social
{
    margin: 40px 40px;
}
.content-section .social i
{
    color: rgb(31, 30, 31);
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover
{
    color: rgba(58, 34, 56, 0.308);
}
@media screen and (max-width:768px)
{
  .section
  {
    display: block;
    margin-top: 10%;
  }
    .container
    {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    
    }
    .content-section
    {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    } 
    .image-section
{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}
.section .container .content-section .title h1
{
  text-decoration: none;
    text-align: center;
    font-size: 19px;
}
.content-section .content .button
{
    text-align: center;
}
.content-section .content .button a
{
    padding: 9px 30px;
}
.content-section .social
{
    text-align: center;
}
}